/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Creating variables for default colors for CSUF/Titan Types */
 :root {
   /* var(--main-blue); */
   --main-blue: #00274c;
   --secondary-blue: #074783;
   /* var(--main-orange); */
   --main-orange: #ff8800;
 }


/* Start of Stephen's CSS for root/nav/header */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lora", serif;
}

/* Settings for background image of website */
body {
  background-color: var(--main-blue);
  background-image: url("assets/background-1.jpg");
  /* ensure background is one fixed iamge on the site and covers the entire background */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/* The main div for the header of the website */
header {
  background: var(--main-blue);
  min-height: 5.5rem;
  max-height: 5.5rem;
  width: 100%;
  margin-bottom: 2em;
}

.heading-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 95%;
  margin: auto;
  min-height: 5.5rem;
  max-height: 5.5rem;
}

/* generated PostCSS Autoprefixer */
.logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Logo for the header(Titans Logo) */
.logo-img {
  max-width: 6rem;
  max-height: 6rem;
  margin-top: 1.5em;
  margin-right: 0.5em;
}

/* For the text next to the logo on the header "Titan Types" */
.logo-text {
  font-weight: 600;
  /* font-size for "TitanTypes" on the header*/
  font-size: 2.95rem;
  letter-spacing: 0.02em;
}

/* generated PostCSS Autoprefixer */
/* also makes the header a flex & sets its direction to row for RWD purposes */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
}

/* Removing default styling for HTML lists */
ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
}

ul li:first-of-type {
  margin-right: 0.75em;
}

ul li:hover {
  color: var(--main-orange);
}

li a {
  font-weight: bolder;
  text-decoration: none;
  color: white;
}
/* Changing color of links in header to a different one */
li a:hover {
  color: var(--main-orange);
}
/* Changing color of link of the current page*/
.current-page {
  color: var(--main-orange);
}

/* End of Stephen's CSS for root/nav/header */




/* CSS for the About page of the website */
.about-container {
  padding: 1em;
  max-width: 60%;
  margin: auto;
  background-color: var(--main-blue);
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-bottom: 2em;
}


/* setting colors in about page & spacing */
.about {
  border-bottom: 2px solid var(--main-orange);
  width: 100%;
  padding-bottom: 1em;
}

.github-body-container {
  width: 100%;
  padding: 0.25em;
}

.about-heading,
.github-heading {
  color: var(--main-orange);
  font-size: 2rem;
}

.about-body-container, 
.github-body-container {
  font-size: 1.2rem;
}

/* For the Github link on the About page */
.learn-more a {
  font-weight: bolder;
  text-decoration: underline;
  color: white;
}

.learn-more a:hover {
  color: var(--main-orange);
}